<div style="width: 100%; max-width: 433px; background: #FFFFFF; margin: 0 auto; box-shadow: 0px 12px 58px 0px rgba(98, 70, 228, 0.06); border-radius: 20px;">
    <div style="padding: 53px 0 42px 0;">
        <p style="margin: 30px 0 0; text-align: center; font-size: 18px; color: #6246e4;">验证码</p>
        <p style="margin: 30px 0 0; text-align: center; font-size: 24px; font-weight: 600; color: #000000;"><span style="font-size: 24px;">{{.code}}</span></p>
        <p style="margin: 30px 0 0; text-align: center; font-size: 12px; font-weight: 400; color: #172239;">验证码30分钟内有效</p>
        <p style="margin: 0; text-align: center; font-size: 12px; color: #172239;">请不要分享给其他人.</p>
        <p style="margin: 30px 0 0; text-align: center; font-size: 12px; color: #6d6d78;"><a style="color: #6d6d78; text-decoration: none;" href="https://www.xiaoxixijz.com" target="_blank" rel="noopener">https://www.xxx.com</a></p>
        <p style="margin: 0; text-align: center; font-size: 12px; color: #6d6d78;">Copyright © 2024 xxx版权所有</p>
    </div>
</div>